<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Welcome to the Dreamglobe" description="" />
	</head>
	<body>
		<main>
			<h1> Future home of Dreamglobe</h1>
			<p>
			This page is a placeholder for Dreamglobe's future website.
			Dreamglobe is a Croatian/Estonian videogames creator.
			</p>
		</main>
	</body>
</html>
